<!DOCTYPE html>
<html>
<head>
	<title>SafeCard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./app.css">
</head>
<body>
	<div id="safecard-app">
		<nav class="container navbar navbar-expand-lg navbar-light">
		 	<a class="navbar-brand" href="#">Shepherd</a>
		 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		 		<span class="navbar-toggler-icon"></span>
		 	</button>
		 	<div class="collapse navbar-collapse" id="navbarNav">
		 		<ul class="navbar-nav mr-auto">
		 	    	<li class="nav-item active">
		 	    		<a class="nav-link" href="#">Cards <span class="sr-only">(current)</span></a>
		 	    	</li>
		 	    	<li class="nav-item">
		 	    		<a class="nav-link" href="#">Account</a>
		 	    	</li>
		 		</ul>
    			<ul class="navbar-nav my-2 my-lg-0">
		 	    	<li class="nav-item active">
		 	    		<a class="nav-link" href="#">Log out</a>
		 	    	</li>
    			</ul>
		 	</div>
		</nav>
		<div class="container">
			<div class="cards-container">
				<div class="row" style="margin-bottom: 1em;">
					<div class="col-3">
						<h1>Cards</h1>
					</div>
					<div class="col-9">
						<h1>Activity</h1>
					</div>
				</div>
				<div class="card-row" v-for="card in cards">
					<div class="row">
						<div class="col-3">
							<div class="virtual-card">
								<div class="value">${{card.value}}</div>
								<div class="nickname">{{card.nickname}}</div>
							</div>
						</div>
						<div class="col-9 activity">
							<div v-if="card.activity.length == 0" style="color: #aaa">
								<span>There hasn't been any activity on this card.</span>
							</div>
							<table class="table table-borderless">
							    <thead>
							        <tr>
							            <th scope="col">Date</th>
							            <th scope="col">Merchant</th>
							            <th scope="col">Amount</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr v-for="activity in card.activity">
							            <th scope="row">{{activity.date}}</th>
							            <td>{{activity.merchant}}</td>
							            <td>{{activity.amount}}</td>
							        </tr>
							    </tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="new-card">
					<div class="row">
						<div class="col-3">
							<a href="#">
								<div class="virtual-card" style="background-color: white; color: #888; text-align: center; padding-top: 60px;">
									+ Add a new card&nbsp;&nbsp;
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="./app.js"></script>
</body>
</html>
